*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(
135deg,
#2c1810,
#4e342e,
#6d4c41
);
min-height:100vh;
padding:30px;
}

.container{
width:90%;
margin:auto;
}

h1{
text-align:center;
color:white;
margin-bottom:20px;
font-size:45px;
}

.stats{
display:flex;
gap:20px;
margin-bottom:20px;
}

.box{
flex:1;
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
padding:20px;
border-radius:20px;
text-align:center;
color:white;
}

#search{
width:100%;
padding:15px;
border:none;
border-radius:10px;
margin-bottom:20px;
}

form{
display:flex;
gap:10px;
margin-bottom:20px;
}

form input{
flex:1;
padding:15px;
border:none;
border-radius:10px;
}

form button{
padding:15px;
border:none;
border-radius:10px;
cursor:pointer;
}

.leaderboard{
background:white;
padding:20px;
border-radius:20px;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
padding:25px;
border-radius:20px;
text-align:center;
color:white;
transition:.4s;
}

.card:hover{
transform:translateY(-8px);
}

.progress{
height:12px;
background:white;
border-radius:10px;
margin:15px 0;
overflow:hidden;
}

.fill{
height:100%;
background:gold;
}

.card button{
padding:12px 25px;
border:none;
border-radius:25px;
cursor:pointer;
font-weight:bold;
}

.buttons{
margin-top:30px;
display:flex;
gap:20px;
}

.reset{
background:red;
color:white;
}

.export{
background:green;
color:white;
}

.history{
margin-top:30px;
background:white;
padding:20px;
border-radius:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
}